.contact-main{
    width: 100%;
    height: fit-content;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.contact-us-from{
    width: 520px;
    height: fit-content;
    background-color: #353535;
    border-radius: 5px;
    padding: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.contact-us-from h1{
    color: #fff;
    font-weight: bold;
    font-size: 40px;
}
.contact-us-inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
}
.contact-input-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 10px;
    text-align: left;
    color: #fff;
    font-size: 18px;
}
.contact-input-div input{
    background: transparent;
    border: 1px solid #fff;
    height: 45px;
    color: #fff;
    padding: 0 10px 0 10px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    
}
.contact-input-div input::placeholder{
    color: #fff;
}
.contact-input-div input:focus{
    box-shadow: 0 0 10px rgba(2, 27, 255, 0.4);
    outline: none;
}
.check-input-div{
    display: flex;
    justify-content: left;
    width: 90%;
}
.check-agree{
    display: flex;
    gap: 10px;
    align-items: center;
}
.check-agree input{
    width: 15px;
    height: 15px;
    border-radius: 15px;
}
.check-agree p{
    font-size: 17px;
    color: #fff;
}
.btn-send-me{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    color: #fff;
    border: none;
    background-color: #DC3545;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
}
.btn-send-me:hover{
    background-color: #bd2c3a;
    transition: all 0.3s ease-in-out;
}
.btn-learn-more{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    color: #DC3545;
    border: none;
    background: none;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #DC3545;
}
.btn-learn-more:hover{
    color: #fff;
    background-color: #DC3545;
    transition: all 0.3s ease-in-out;
}
.contact-bottom-text{
    font-size: 18px;
    font-weight: 200;
    color: #fff;
    width: 100%;
}
.contact-bottom-text1-div{
    display: flex;
    gap: 5px;
    color: #fff;
    align-items: center;
    
}
.contact-bottom-text1-div h3{
    font-size: 18px;
}
.contact-bottom-text1-div p{
    font-size: 16px;
    font-weight: 200;
    
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

  

@media screen and (max-width:530px) {
    .contact-us-from{
        width: 420px;
    }
}
@media screen and (max-width:430px) {
    .contact-us-from{
        width: 320px;
    }
}
@media screen and (max-width:330px) {
    .contact-us-from{
        width: 300px;
    }
}