.footer-main{
    width: 100%;
    height: 60px;
    background-color: #D52229;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}